.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-04) var(--spacing-05);
    height: 80px; /* Ajusta la altura */
    background-color: #222; /* Fondo oscuro */
    color: white; /* Texto blanco */

    &__hierarchy {
        display: flex;
        align-items: center;
        gap: var(--spacing-03);

        &__button {
            background: none;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            color: white;
        }

        &__breadcrumbs {
            display: flex;
            align-items: center;
            font-size: var(--size-02);

            .breadcrumb-link {
                color: white;
                text-decoration: none;
                margin: 0 var(--spacing-02);
            }

            .breadcrumb-separator {
                color: gray;
            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: var(--spacing-02);

        &__image {
            width: 40px; /* Tamaño fijo del logo */
            height: 40px;
        }
    }

    &__title {
        font-size: var(--size-04);
        margin: 0;
    }

    &__menu {
        display: flex;
        align-items: center;

        &__icon-buttons {
            display: flex;
            gap: var(--spacing-02);
        }

        .icon-button {
            background: #333;
            border: none;
            padding: var(--spacing-02);
            border-radius: 5px;
            cursor: pointer;
            color: white;
            font-size: 1.2rem;
        }

        .icon-button:hover {
            background: #444;
        }
    }
}
