@keyframes anim-segment {
    0%,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90% {
        background-color: #d5d5d5;
        opacity: 1;
    }
    100% {
        background-color: #373f44;
        opacity: 1;
    }
}

@-webkit-keyframes anim-segment {
    0%,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90% {
        background-color: #d5d5d5;
        opacity: 1;
    }
    100% {
        background-color: #373f44;
        opacity: 1;
    }
}
