:global {
    .dx-loadindicator {
        overflow: inherit !important;
        .dx-loadindicator-wrapper {
            .dx-loadindicator-content {
                .dx-loadindicator-icon {
                    .dx-loadindicator-segment {
                        background-color: #d5d5d5;
                        box-shadow: none;
                        border-radius: 5px;
                        width: 10%;
                        opacity: 1;
                        -webkit-animation: anim-segment 1.7s linear infinite
                            var(--delay) !important;
                        animation: anim-segment 1.7s linear infinite
                            var(--delay) !important;
                    }

                    .dx-loadindicator-segment:nth-child(1) {
                        --delay: 0.7s;
                    }
                    .dx-loadindicator-segment:nth-child(2) {
                        --delay: 0.5s;
                    }

                    .dx-loadindicator-segment:nth-child(3) {
                        --delay: 0.3s;
                    }
                    .dx-loadindicator-segment:nth-child(4) {
                        --delay: 0.1s;
                    }
                    .dx-loadindicator-segment:nth-child(5) {
                        --delay: 1.4s;
                    }
                    .dx-loadindicator-segment:nth-child(6) {
                        --delay: 1.2s;
                    }
                    .dx-loadindicator-segment:nth-child(7) {
                        --delay: 1.1s;
                    }
                    .dx-loadindicator-segment:nth-child(8) {
                        --delay: 0.9s;
                    }
                }
            }
        }
    }
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    height: 100%;
    color: var(--loader-text);
    &__text {
        font-weight: 400;
        line-height: 20px;
        &--sm {
            font-size: 0.75rem;
        }
        &--md {
            font-size: 0.75rem;
        }
        &--l {
            font-size: 0.875rem;
        }
    }
}

.loader-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
    background-color: var(--loader-overlay);
    z-index: 100;
}
