.dx-tabs {
    display: inline-block;
    font-size: 1rem;

    .dx-tabs-nav-button-left,
    .dx-tabs-nav-button-right {
        display: none;
    }

    .dx-tabs-wrapper {
        background-color: transparent;
        padding-bottom: 12px;
        border: none;

        &::after {
            border: none;
        }

        .dx-tab {
            flex: 0 1 auto;
            background-color: inherit;
            border-bottom: 4px solid transparent;

            &-selected {
                border-bottom: 4px solid var(--color-primary);

                &::after {
                    border: none;
                }
            }

            &.dx-state-hover,
            &.dx-state-focused,
            &.dx-state-active {
                &::after {
                    border: none;
                }
            }
        }
    }
}
