.search-container {
    display: flex;
    align-items: center;
    background: var(--postcard-color);
    border-radius: 30px;
    padding: 8px 15px;
    max-width: 500px;
    margin: 0 auto 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 10px var(--postcard-shadow);
    
    &__input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 16px;
        background: none;
        padding: 8px;
        color: var(--sb-input-color);
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    &__icon {
        font-size: 18px;
        border:none;
        color: #666;
        cursor: pointer;
        background-color: var(--postcard-color);
        transition: transform 0.3s ease, color 0.3s ease;
        padding: 5px;
        border-radius: 50%;
        
        &:hover {
            color: var(--postcard-text-color);
        }
    }
    
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        max-width: 100%;
        padding: 10px;
        margin-bottom: 15px;
    }

    .search-container__input {
        font-size: 14px;
    }

    .search-container__icon {
        font-size: 16px;
    }
}
