.post-card {
    background-color: #222;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #ffffff1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: default;

    h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #1ebaee;
        text-shadow: 1px 1px 8px #a3a3a3;
    }

    p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    &-buttons {
        display: none;
        justify-content: center;
        gap: 12px;
        margin-top: 10px;
    }

    &:hover &-buttons {
        display: flex;
    }
}
