.post-card {
    background-color: var(--postcard-color);
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px var(--postcard-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;

    h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: var(--postcard-text-color);
        text-shadow: 1px 1px 8px var(--postcard-textsw-color);
    }

    p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    &-buttons {
        display: none;
        justify-content: center;
        gap: 12px;
        margin-top: 10px;
    }

    &:hover &-buttons {
        display: flex;
        transform: scale(0.85);
    }
}
