.breadcrumbs {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    gap: var(--gap-01);
    font-size: var(--measure-14);
    font-weight: 400;
    margin-top: 100px;
    margin-left: 100px;
    

    & > span:last-of-type {
        font-weight: var(--font-weight-bold);
    }

    &-separator {
        padding-left: var(--gap-01);
    }
}

.checkout {
    font-weight: var(--font-weight-bold);
}
