body {
    margin: 100;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--home-background-color);
    color: var(--home-text-color);
}

/* ======= Tipografía ======= */
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

/* ======= Botones ======= */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--home-buttonbg-color);
    color: var(--home-buttont-color);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #70dbff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* ======= Reset CSS y DevExtreme Overwrite ======= */
*,
*::before,
*::after {
    box-sizing: border-box;
}

div {
    font-family: "Open Sans", sans-serif;
}

/* ======= Ajustes para DevExtreme ======= */
.dx-icon,
.dx-treelist-expanded span::before,
.dx-treelist-collapsed span::before {
    font-family: "DXIcons", sans-serif !important;
}


/* ======== Cambio de tema  =========*/

[data-theme="light"]  {
    --home-background-color: #ffffff;
    --home-text-color: #333;
    --home-buttonbg-color: #dbd9d9;
    --home-buttont-color: #333;
    --postcard-color: #f8f8f8;
    --postcard-text-color: #1ebaee;
    --postcard-textsw-color: #868484;
    --postcard-shadow: #868484;
    --sb-input-color: #333;
    --pb-bg-color: #aba4a4;
    --pb-bgh-color: #979292;
    --pg-bgd-color: #827e7e;
    --form-bg-color: #f8f8f8;
    --form-label-color: #313131;
    --textarea-text-color: black;
    --comment-bg-color: #eee;
    --header-bg-color: #c7c7c7;
    --breadcrumb-color: #000;


}

[data-theme="dark"] {
    --home-background-color: #242424;
    --home-text-color: #fff;
    --home-buttonbg-color: #333;
    --home-buttont-color: #fff;
    --postcard-color: #242424;
    --postcard-text-color: #3fc6d5;
    --postcard-textsw-color: #a3a3a3;
    --postcard-shadow: #ffffff1a;
    --sb-input-color: #fff;
    --pb-bg-color: #444;
    --pb-bgh-color: #555;
    --pg-bgd-color: #666;
    --form-bg-color: #1e1e1e;
    --form-label-color: #ddd;
    --textarea-text-color: white;
    --comment-bg-color: #3f3f3f;
    --header-bg-color: #222;
    --breadcrumb-color: #fff;

}